{% extends 'base.html.twig' %}

{% block title %} Parce que vous ne savez pas encore que vous pouvez aider. {% endblock %}

{% block body %}

<div class="container-fluid contain">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h1>
                ici le titre
            </h1>
            <p class="text">
                ici le text
            </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            google map
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 well">
            <h5 class="text-center">Les differentes actions de la communaute solidaire</h5>
            <div class="text-center">
                <select  class="select2">
                    <option>tt</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 well">
            <h2 class="text-center">Ici le titre de la section</h2>
            <div class="text-center">
                <select  class="select2">
                    <option>tt</option>
                </select>
            </div>
            <h3 class="text-center">ici le titre de la sous section</h3>
            <p class="accroche text-center">ici le text</p>
            <p>
                <img src="" />
            </p>
            <p class="text-center">
                ici le texte
            </p>
            <div>Ici les videos</div>
        </div>
    </div>
</div>
{% endblock %}
