
.jumbotron-custom {
    background-color : #7DE7C1;
    padding: 1.5rem;
}

.jumbotron .title h1 {
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.5rem;
    color: white;
    text-align: center;
    margin-bottom: 3rem;
}



.searchBar {
    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;

    color: #30384C;
}

.searchBar input[type="search"]:focus {
    border-color: rgba(10, 209, 189, 0.8);
    box-shadow: 0 1px 1px rgba(10, 209, 189, 0.075) inset, 0 0 8px rgba(10, 209, 189, 0.6);
}

input.searchBar-left {
    border-top-left-radius: 50rem!important;
    border-bottom-left-radius: 50rem!important;
    border-left: 3px solid #0AD1BD;
    border-top: 3px solid #0AD1BD;
    border-bottom: 3px solid #0AD1BD;
    border-right: 0px;
}

.searchBar .labels {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 2rem;
}

.searchBar label {
    padding-left: 0.5rem;
    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5rem;
}

label.searchBar-left {
    position: absolute;
}

label.searchBar-right {
    margin-left: 50% ;
    position: absolute;
}

input.searchBar-right {
    border-top: 3px solid #0AD1BD;
    border-bottom: 3px solid #0AD1BD;
    border-top-right-radius: 50rem!important;
    border-bottom-right-radius: 50rem!important;
}

.searchBar .btn {
    background-color: #0AD1BD !important;
    border-radius: 50rem!important;
    border: 3px solid #0AD1BD !important;
    margin-left: -2.7rem;
    z-index: 4;
}


.companiesList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.companiesList a {
        text-decoration: none;
        color:rgba(0, 0, 0, 0.7);
}

.companiesList .card {
        margin-top: 30px;
        border : 0px;
}

.companiesList .card-img-top {
    width: 100%;
    height: 250px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('/img/logo-generic.png');
    background-origin: content-box;
    padding : 1rem;
}

.companiesList .card .card-title {
    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 2rem;
    text-transform: uppercase;  
}

.companiesList .card .city {
    font-size: 0.8rem;
    margin-left: 0.8rem;
    font-style: normal;
    font-weight: normal;
    text-transform: none; 
}

.companiesList .card .city i {
    margin-right: 0.1rem;
}

.companiesList .card .card-text  {
    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.6rem;
    
    color: #929292;
}

.companiesList .card .card-text:first-letter{
    text-transform: capitalize
}

.companiesList .card .badges .badge {
    margin: 0.25rem;
}

.companiesList .card .badge-branch  {
    color: #fff;
    background-color: #007bff;
}

.companiesList .card .badge-keyword  {
    color: #fff;
    background-color: #8BE3FF;
}
