@media (max-width: 1280px) {}

@media (max-width: 1200px) {}

@media (max-width: 1024px) {}

@media (max-width: 991px) {
    
    .ajouterStructure  {
        margin-top: 20px;
        padding-left : 0px;
    }
}

@media (max-width: 800px) {
}

@media (max-width: 768px) {
    
}

@media (max-width: 600px) {}

@media (max-width: 575px) {

    input.searchBar-right {
        border-top-left-radius: 50rem !important;
        border-bottom-left-radius: 50rem !important;
        border-left: 3px solid #0AD1BD;
    }

    input.searchBar-left {
        border-right: 3px solid #0AD1BD;
        border-bottom-right-radius: 50rem !important;
        border-top-right-radius: 50rem !important;
    }

    .companyAddress {
        margin-top: 10px;
    }
}

@media (max-width: 540px) {}

@media (max-width: 480px) {}

@media (max-width: 375px) {}

@media (max-width: 360px) {}

@media (max-width: 320px) {}


@media (min-width: 991px) {
    .ajouterStructure   {
        -ms-flex: 0 0 300px;
        flex: 0 0 300px;
        max-width: 300px;
    }
}