{% extends 'layout.html.twig' %}
{% block title %}Panneau administrateur{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
{% endblock stylesheets %}
{% block body %}
  <div id="menu-left" class="col-sm-2 col-xs-12">
      {{ render(controller('App\\Controller\\Admin\\AdminController::menu') )}}
  </div>
  <div class="col-sm-10 well" id="background-admin" style="margin-bottom:0;">
      <h1> Back-office </h1>
  </div>
{% endblock %}
