<html>

<head></head>

<body>

    <p> Un nouveau formulaire de contact à été soumis. </p>
    <p> L'adresse mail indiquée est : </p>
    <b> {{ contact.mail }}</b>
    <p> Avec le message suivant : </p>
    <b> {{ contact.description }} </b>

</body>

</html>