{% extends '../base.html.twig' %}

{% block body %}
    <h3>Confirmation d’inscription</h3>
    <p>Vous venez de vous créer un compte sur le site www.societesanticor.org et nous vous en remercions !<p>
    <p>Pour vous connecter, votre identifiant est {{ user.email }}.<p>
    <p>Conservez précieusement le mot de passe que vous avez choisi ; il vous sera demandé à chaque connexion.<p>
{% endblock %}